* {
    font-family: Georgia;
    margin: 0;
    padding: 0;
}

/*----------------------HEADER----------------------*/
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #202030;
}

.logo {
    width: 120px;
}

.color-titulo-nav {
    color: #db7734;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
}

.color-text-nav li a {
    color: #ffffff;
    font-size: 20px;
}

/* que no tenga borte el menu minimizado */
.nav-boton {
    border: none;
}

/*----------------------MAIN----------------------*/

main {
    background-color: #635C51;
    padding-bottom: 40px;
}

/* le da un padding a todas las paginas menos index y cambia una propiedad de bs */
.padding {
    padding: 20px 5%;
    flex-shrink: 1;
}

.flecha:hover {
    .flecha-portada {
        background-color: #000000d8;
        border-radius: 15px;
    }
}

.flecha-portada {
    background-color: #0000006e;
    border-radius: 15px;
}


/* restaura a 0 valores predeterminados de boostrap */
.carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}

.portada-info {
    background-color: #000000b7;
    padding: 1% 2%;
}

/* le da un tamaño de letra adaptable los tutilos y parrafos que entan sobre la foto */
.portada-info h1 {
    font-size: clamp(15px, 3vw, 65px);
}

.portada-info h2 {
    font-size: clamp(15px, 3vw, 65px);
}

.portada-info p {
    font-size: clamp(15px, 3vw, 45px);
    margin: 8px;
}

/* le da estilo y tamaño adaptable al los botones de index */
.botom-estilo {
    padding: 1% 1%;
    font-size: clamp(15px, 3vw, 20px);
    text-decoration: none;
    background-color: #39304A;
    color: #ffffff;
    border-radius: 5px;
}

.botom-estilo:hover {
    background-color: #f4f4f4;
    color: #000000;
}

.introduccion-info {
    padding: 30px 15%;
    text-align: center;
}

.introduccion-info p {
    font-size: clamp(20px, 3vw, 25px) ;
    color: #ffffff;
    margin: 10px 0 30px;
}

/* formulario de reserva*/
.reservar {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    width: 100%;
    padding: 20px 0;
}

.reservar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reservar form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reservar__flex {
    display: flex;
    flex-direction: column;
}


.reservar input,
.reservar select {
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.reservar__enviar {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.reservar input[type="submit"] {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.reservar input[type="submit"]:hover {
    background-color: #0056b3;
}

.habitaciones {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

.habitaciones article {
    display: inline-flex;
    justify-content: center;
    border: 1px solid #868383;
    border-radius: 10px;
    margin: 1%;
    padding: 10px;
}

.habitaciones article p {
    text-align: center;
    font-size: clamp(20px, 3vw, 30px);
}

/* estilo a todos los h1 menos el del index */
.titulo {
    text-align: center;
    margin: 20px 0;
    font-size: clamp(25px, 3vw, 50px);
}

.habitaciones-imagen img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.habitaciones-lista ul li {
    font-size: 25px;
    list-style: none;
}

.habitaciones-lista ul li i {
    margin-right: 10px;
}


/*----------------------FOOTER----------------------*/

/* le da estilo al footer */
footer {
    background-color: #1f232b;
    padding-top: 10px;
}

.hotel-info h5 {
    color: #ffffff;
    margin-bottom: 0;
}

/* le da color a las estrellas */
.hotel-info-estrellas {
    color: #ffff00;
    font-size: 30px;
    margin-bottom: 0;
}

.direccion p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 0;
}

/* le da estilo a la parte de iconos */
.redes-sociales {
    margin: 10px 0;
}

.redes-sociales a {
    margin: 0.8rem;
}

.redes-sociales a i {
    font-size: 25px;
}

.hotel-info-creador {
    color: #ffff00;
    font-size: 15px;
}


/*----------------------media query---------------------- */

/* tablet */
@media only screen and (max-width: 780px) {
    .padding {
        padding: 20px 1%;
    }
    .habitaciones-lista {
        display: flex;
        justify-content: center;
    }
}

/* celular */
@media only screen and (max-width: 480px) {}