/*----------------------FOOTER----------------------*/

footer {
    text-align: center;
    height: 100%;
    background-color: $color-fondo;
    padding-top: 10px;
}

/* le da tamaño al logo de footer */
.logo-footer {
    width: 120px;
    margin-right: 10px;
}

.hotel-info {
    @include flex-colum;
    justify-content: center;
}

.hotel-info-subtitulo {
    margin-bottom: 0;
    font-size: 20px;
}

.hotel-info-subtitulo, .direccion {
    color: $color-texto;
}

/* le da color a las estrellas */
.hotel-info-estrellas {
    color: $color-estrellas;
    font-size: 30px;
    margin-bottom: 0;
}

/* le da estilo a la direccion */
.direccion {
    font-size: 20px;
    margin-bottom: 10px;
}

/* le da estilo a la parte de iconos de redes sociales*/
.redes-sociales {
    margin-top: 10px;
}

// maps
$color-redes-sociales: (
    instagram: #3f729b,
    facebook: #3b5998,
    twitter-x: #000000
);

@each $redes, $color in $color-redes-sociales {
    .bi-#{$redes} {
        color: $color;
        font-size: 30px;
        margin: 0.8rem;
    }
}

/* le da estilo al fondo y al parrafo de creador */
.hotel-info-creador {
    padding: 10px;

    p {
        color: $color-creador;
        font-size: 16px;
        margin: 0;
    }
}