/*----------------------HEADER----------------------*/
/* le da color al body en caso de que la informacion no llene el alto completo de la pagina */
body {
    background-color: $color-fondo;
}

/* fija el header y le da prioridad sobre todo */
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $color-fondo;
}

/* le da tamaño al logo de header */
.logo {
    width: 80px;
    margin-right: 10px;
}

/* le da estilo al nombre al lado del logo */
.color-titulo-nav {
    color: $color-titulo-nav;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

/* le da estilo a los enlaces del nav */
.texto-nav {
    li {
        a {
            font-size: 20px;
            color: $color-texto;

            &:hover {
                color: $color-titulo-nav;
            }
        }
    }
}

/* color y tamaño al icono hamburguesa del nav mobile*/
.icon-nav {
    background-color: $color-fondo-main;

    span {
        color: $color-texto;
        font-size: 30px;
    }
}