/*----------------------MAIN----------------------*/

main {
    background-color: $color-fondo-main;
    padding-bottom: 20px;
}

/* le da un padding a todas las paginas menos index*/
.padding {
    padding: 10px 5% 30px;
}

/* le da estilo a las flechas que cambian las fotos del index */
.flecha {

    span {
        background-color: $color-flecha-fondo;
        border-radius: 15px;
    }

    &:hover {
        span {
            background-color: $color-flecha-hover;
            border-radius: 15px;
        }
    }
}

.portada-info {
    background-color: $color-fondo-portada;
    padding: 1%;
    color: $color-texto-portada;

    h1,
    h2 {
        font-size: clamp(15px, 3vw, 65px);
    }

    p {
        font-size: clamp(15px, 3vw, 45px);
        margin: 8px;
    }
}

/* le da estilo y tamaño adaptable a los dos botones de index y al boton de servicios*/
.boton-estilo {
    padding: 8px;
    font-size: clamp(15px, 3vw, 20px);
    text-decoration: none;
    background-color: $color-boton;
    box-shadow: 4px 6px 10px 0em $color-boton-shadow;
    color: #ffffff;
    border-radius: 5px;

    &:hover {
        background-color: $color-hover-boton;
    }
}

.introduccion-info {
    margin: 20px 100px 20px;
    text-align: center;

    p {
        font-size: clamp(20px, 3vw, 25px);
        color: $color-texto-introduccion;
        margin-bottom: 30px;
    }
}

/* compensa el desplazamiento ya que al estar fijo el header queda encimado sino*/
#habitaciones {
    scroll-margin-top: 90px;
}

/* le da estilo al formulario de reserva de la pagina habitaciones y de contacto*/
.reservar {
    @include flex-colum;
    text-align: center;
    background-color: $color-fondo-reservar;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    @include box-shadow;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #000000;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.reservar-flex {
    @include flex-colum;

    label {
        font-size: 20px;
    }

    select {
        height: 100%;
    }

    select,
    input {
        margin: 5px;
        padding: 8px;
        border: none;
        border-radius: 5px;
        width: 250px;
    }
}

/* acomoda el boton de enviar formulario de reserva*/
.reservar-enviar.flex {
    @include flex-colum;
    justify-content: end;
}

/* le da estilo a el boton de formulario reserva y de contacto */
.reservar-enviar {

    input {
        background-color: $color-fondo-boton-reservar;
        color: $color-texto-boton-reservar;
        font-weight: bold;
        cursor: pointer;
        margin: 5px;
        padding: 8px;
        border: none;
        border-radius: 5px;
        width: 250px;

        &:hover {
            background-color: $color-hover-boton-reservar;
        }
    }
}

/* estilo a todos los h1 menos el del index */
.titulo {
    text-align: center;

    h1 {
        display: inline-flex;
        color: $color-h1;
        border-bottom: 3px solid $color-borde-h1;
        margin-top: 10px;
        animation-name: titulo-animacion;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
}

@keyframes titulo-animacion {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* acomoda como se ve la parte de la pagina habitaciones */
.habitaciones {
    @include flex-colum;
    align-items: center;
    margin: 10px;
    gap: 30px;

    article {
        display: inline-flex;
        justify-content: center;
        border: 1px solid $color-borde-habitaciones;
        background-color: $color-fondo-habitaciones;
        border-radius: 10px;
        margin: 1%;
        @include box-shadow;
    }
}

.animacion-left {
    animation-name: animacion-left;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion-left {
    from {
        opacity: 1;
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0);
    }
}

.animacion-right {
    animation-name: animacion-right;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion-right {
    from {
        opacity: 1;
        transform: translateX(1000px);
    }

    to {
        transform: translateX(0);
    }
}

/* tamaño y estilo a las imagenes de la pagina habitaciones */
.habitaciones-imagen {
    display: flex;
    align-items: center;
    max-width: 720px;

    img {
        width: 100%;
        border-radius: 10px;
    }
}

/* le da estilo a la listas de la pagina habitaciones */
.habitaciones-lista {
    p {
        text-align: center;
        font-size: 30px;
        margin: 3px;
    }

    ul {
        li {
            font-size: 25px;
            list-style: none;

            i {
                margin-right: 10px;
            }
        }
    }
}

/* -----pagina de servicios---- */
.servicios-lista {
    gap: 20px;

    ul {
        li {
            font-size: 20px;
        }
    }
}

.servicios-lista,
.servicios-imagen {
    @include flex-colum;
    align-items: center;
}

.servicios-imagen {

    img {
        width: 300px;
        margin: 20px;
        animation-name: img-servicios-animacion;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
}

@keyframes img-servicios-animacion {
    from {
        opacity: 0;
        transform: translateX(500px) scale(0);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.servicios-ayuda {
    display: inline-flex;
    text-align: center;
    width: 100%;

    p {
        font-size: 20px;
        font-style: oblique;
    }
}

/* le da estilo a la tabla de la pagina de tarifas */
.tarifas {
    @include flex-colum;
    gap: 30px;
    padding: 0 20px 20px;
    margin: 20px;

    p {
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
    }
}

.tarifas {

    th,
    td {
        border: 1px solid $color-border-tarifas;
        padding: 8px;
        text-align: center;
        width: 33%;
        animation-name: tarifas-tabla-animacion;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    th {
        background-color: $color-fondo-tarifas;
    }
}

@keyframes tarifas-tabla-animacion {
    from {
        opacity: 1;
        transform: translateY(1000px);
    }

    to {
        transform: translateX(0);
    }
}

.tarifas-info {
    font-size: 18px;
}

.font-negrita {
    font-weight: bold;
}

/* le da estilo a la pagina contactos */
.direccion-maps {
    text-align: center;
    font-size: 20px;
}

.maps {
    border: 2px solid $color-borde-maps;
    @include sizes(100%, 100%);

    iframe {
        @include sizes(100%, 100%);
    }
}

.contacto {
    @include flex-colum;
    margin-top: 20px;
    gap: 20px;
    max-width: 700px;
}

.contacto-info {
    @include flex-colum;
    margin-left: 10px;

    i {
        font-size: 25px;
        color: $color-icon-contacto;

        a {
            margin-left: 10px;
            text-decoration: none;
            color: $color-contacto;
            font-weight: normal;

            &:hover {
                color: $color-hover-contacto;
            }
        }
    }
}

.contacto-formulario {

    textarea,
    input {
        margin: 5px;
        padding: 8px;
        border: none;
        border-radius: 5px;
    }
}