//color al fondo de header y footer
$color-fondo: #B5A88A;

//color al titulo del nav al lado de la img
$color-titulo-nav: #4f3c09;

//color del texto 
$color-texto: #000000;

//color del fondo de main
$color-fondo-main: #fff;

//color de las flechas que cambian las fotos de index
$color-flecha-hover: #000000d8;
$color-flecha-fondo: #0000006e;

//color de el texto sobre las imagenes y del fondo
$color-fondo-portada: #000000b7;

//color de los dos botones de la pagina index
$color-boton: #8C7853;
$color-boton-shadow: #635146;
$color-hover-boton: #5A4A41;

//color a la sombra en la pagina habitaciones
$color-shadow-habitaciones: #615053;

//color al boton de enviar los formularios
$color-fondo-boton-reservar: #4a3f1b;
$color-hover-boton-reservar: #7c5640;

//color del recuadro que encierra cada tipo de habitacion
$color-borde-habitaciones: #868383;
$color-fondo-habitaciones: #eeebe4;

//color de la tabla de tarifas
$color-border-tarifas: #333;
$color-fondo-tarifas: #f2f2f2;

//color de la informacion de contacto
$color-icon-contacto: #4a3f1b;
$color-contacto: #454545;
$color-hover-contacto: #0000ff;

// le da el color a las 4 estrellas
$color-estrellas: #e07217;

// le da color al texto que dice el nombre del creador
$color-creador: #010f5c;