//-----------------HEADER------------
//color al fondo de header y footer
$color-fondo: #B5A88A;
//color al titulo del nav al lado de la img
$color-titulo-nav: #4f3c09;
//color de los enlaces del nav
$color-enlace: #000000;
$color-enlace-hover: #4f3c09;
//color del icono de hamburguesa
$color-icono: #000000;
$color-icono-fondo: #fff;

//----------------MAIN--------------


//----------------FOOTER------------
$color-subtitulo: #0d0d0d;
$color-estrellas: #e07217;
$color-redes-sociales: #3d46c4;
$color-creador: #010f5c;